<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <div class="container">
        <nav><a class="button is-link" href="/products/new">New Product</a></nav>
        <h1>Products Index</h1>
        <ul class="columns" style="display: flex;">
            <% allProducts.forEach(product => { %>
                <fieldset>
                    <li class="column" style="display:flex; flex-direction: column; list-style-type: none;">
                        <a href="/products/<%=product._id%>"><%=product.name %></a>
                        <img  src="<%=product.img%>" style="max-height: 100px; max-width: auto;" alt="<%=product.name%>">
                        <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                            <input class="button is-small is-link" type="submit" value="Delete">
                            <a class="button is-small is-link" href="#">Edit</a>
                        </form>
                    </li>
                </fieldset>
            <% }); %> 
        </ul>
    </div>
</body>
</html>