<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <div class="container is-fluid">
        <!-- NAVIGATION BAR -->
        <nav class="navbar" role="navigation" aria-label="main navigation" style="margin: 10px">
            <div class="navbar-brand navbar-start">
                <a class="navbar-item button is-primary" href="/products" style="margin-right: 10px;">Back to overview</a>
                <a class="navbar-item button is-primary" href="/products/new">Add New Item</a>
            </div>
        </nav>
        <!-- HEADER TITLE -->
        <h1 class="title" style="margin: 10px;">Product: <%=showProduct.name %></h1>
        <div class="columns is-centered is-mobile is-multiline">
            <!-- PRODUCT IMAGE -->
            <div class="column">
                <div class="box">
                    <img src="<%=showProduct.img%>" alt="<%=showProduct.name%>">
                </div>
            </div>
            <!-- PRODUCT INFORMATION -->
            <div class="column">
                <div class="box">
                    <h3 class="subtitle is-6">Description: <%=showProduct.description %></h3>
                    <h5 class="subtitle is-6">Price: $<%=showProduct.price %></h5>
                    <h5 class="subtitle is-6">Quantity: <%=showProduct.qty %></h5>
                    <form action="/products/<%=showProduct._id%>?_method=DELETE" method="POST">
                        <input class="button is-small is-danger" type="submit" value="Delete">
                        <a class="button is-small is-info" href="/products/<%=showProduct._id%>/edit">Edit</a>
                    </form>
                </div>
                <!-- PURCHASE BOX -->
                <div class="box">
                    <h5 class="subtitle is-3">Purchase</h5>
                    <form action="/products/<%=showProduct._id%>/buy?_method=PUT" method="POST">
                        <% if (showProduct.qty === 0){ %>
                            <br><input class="button is-large is-danger" type="submit" value="OUT OF STOCK" disabled>
                        <% } else { %>
                            <br><input class="button is-large is-success" type="submit" value="BUY">
                        <% } %> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>