<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product: <%=foundProduct.name %> </title>
</head>
<body>
    <nav><a href="/products">Back to overview</a></nav>
    <br>
    <img src="<%=foundProduct.img%>" alt="<%=foundProduct.name%>">
    <h1>Product: <%=foundProduct.name %></h1>
    <h3>Description: <%=foundProduct.description %></h3>
    <h5>Price: <%=foundProduct.price %></h5>
    <h5>Quantity: <%=foundProduct.qty %></h5>
</body>
</html>